:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; 
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.primaryColor {
  color: #296233;
}

.primaryBtnColor {
  color: white;
  background-color: #296233;
}

.primaryBtnColor:hover {
  background-color: #183a1e;
}

.secondaryBtnColor {
  color: black;
  background-color: #ffce47;
}

.secondaryBtnColor:hover {
  background-color: #e0a500;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 8px 16px;
  border-radius: 15px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.primaryDropdown {
  color: white;
  background-color: #296233;
}

.secondaryDropdown {
  color: black;
  background-color: #ffce47;
}

.dropdownContent a {
  text-decoration: none;
}

.dropdown:hover .dropdownContent {
  display: flex;
  width: max-content;
  flex-direction: column;
  gap: 4px;
}

.dropdown:hover .secondaryButton {
  background-color: #e0a500;
}

.dropdown:hover .primaryButton {
  background-color: #183a1e;
}

.dropdown:hover #aboutText {
  text-decoration: underline;
}

p {
  font-size: 0.8rem;
}

span {
  font-size: 1rem;
}

h1 {
  color: white;
  background-color: #296233;
  text-align: center;
  width: fit-content;
}

h2 {
  font-size: 1.75rem;
  padding-top: 12px;
}

h3 {
  font-size: 1.5rem;
}

.heading {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-transform: uppercase;
  font-weight: 600;
}

button {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 4px 16px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.buttonText {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body {
  margin: 0px;
}

#navBar {
  display: flex;
  height: 60px;
  background-color: #296233;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 30px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
}

.menuIcon {
  display: none;
}

.navLinks {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.navText {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  text-align: center;
}

.navText:hover {
  text-decoration: underline;
}

li {
  display: inline-flex;
  align-self: flex-start;
}

#scrollable {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: black; */
  background-image: url("assets/eastsidepockets.jpeg");
  background-size: cover;
  width: 100%;
  height: 25vh;
}

#halalImg {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 60px;
  z-index: 1;
}

#bannerContent {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
  gap: 2em;
}

.spacing {
  gap: 3em;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  gap: 32px;
  padding: 0px 30px;
}

#menuNav {
  display: flex;
  align-items: center;
  width: inherit;
  justify-content: space-between;
  padding: 8px 0px;
  width: 101%;
  border-bottom: 1px solid black;
  background-color: white;
  gap: 1em;
  position: sticky;
  top: 60px;
  box-sizing: border-box;
  z-index: 1;
}

#disclaimer {
  margin-top: -16px;
  align-self: flex-start;
  color: black;
  font-weight: 600;
}

.smallIcon {
  width: 20px;
  height: 20px;
  padding-right: 6px;
}

.menuCategory {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 12px;
}

#menuLegend {
  display: flex;
  gap: 3em;
}

.menuItemContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #636363;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.menuItem:hover {
  cursor: pointer;
  background-color: #ededed;
}

.menuTextContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.menuImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top left;
  margin-left: 10px;
}

.foodName {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: 600;
}

.foodDesc {
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: #636363;
  font-weight: 300;
}

.price {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: 600;
}

.addIcon {
  width: 12px;
  padding-right: 6px;
}

.arrowIcon {
  width: 15px;
  height: 15px;
  padding-left: 6px;
  padding-right: 0px;
}
.addToOrder {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

#footer {
  background-color: #296233;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 24px 0px;
  gap: 24px;
}

#footerGrid {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.footerCol {
  padding-inline-start: 0em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.footerText {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
  text-align: left;
}

.footerText:hover {
  text-decoration: underline;
}

.captionText {
  color: white;
  font-size: 0.7rem;
  align-self: center;
}

.captionText:hover {
  text-decoration: underline;
}

.footerIcon {
  height: 35px;
  padding: 0px 10px;
}

.bold {
  font-weight: 600;
}

.bold:hover {
  text-decoration: none;
}

.regular {
  font-weight: 300;
}

a {
  cursor: pointer;
  display: inline-flex;
}

@media screen and (max-width: 770px) {
  /* .menuItem {
    max-width: 40%;
  } */
  .spacing {
    gap: 1em;
  }
  .menuIcon {
    display: flex;
    width: 40px;
    cursor: pointer;
  }

  .navLinks {
    display: none;
  }
 
  span {
    font-size: 0.75rem;
  }
  .menuItemContainer {
    grid-template-columns: 1fr;
  }

  #menuLegend {
    gap: 1em;
  }
}

@media screen and (max-width: 540px) {
  .widthContainer {
    padding: 0px 16px;
  }
  #footerButtons {
    flex-direction: column;
    gap: 24px;
  }
}

@media screen and (max-width: 380px) {
  .spacing {
    gap: 0.5rem;
  }

  #menuLegend {
    flex-direction: column;
    gap: 0em;
  }

  #footer {
    height: fit-content;
  }

  #footerGrid {
    grid-template-columns: 1fr;
  }

  li {
    align-self: center;
  }
}
